@mixin el($element) {
  &__#{$element} {
    @content;
  }
}

@mixin mod($modifier) {
  &--#{$modifier} {
    @content;
  }
}

@mixin bp($point) {

  $xs: "screen only and (max-width: 767px)";
  $sm: "screen only and (min-width: 768px) and (max-width: 991px)";
  $min-md: "(min-width: 992px) and (max-width: 1199px)";
  $md: "screen only and (min-width: 992px) and (max-width: 1199px)";
  $min-lg: "(min-width: 1200px)";
  $lg: "screen only and (min-width: 1200px)";
  $lgxl: "screen only and (min-width: 1200px) and (max-width: 1440px)";
  $xl: "screen only and (min-width: 1441px)";

  @if $point == xl {
    @media #{$xl} { @content; }
  }
  @elseif $point == lgxl {
    @media #{$lgxl} { @content; }
  }
  @elseif $point == lg {
    @media #{$lg} { @content; }
  }
  @else if $point == min-md {
    @media #{$min-md} { @content; }
  }
  @else if $point == md {
    @media #{$md} { @content; }
  }
  @else if $point == min-lg {
    @media #{$min-lg} { @content; }
  }
  @else if $point == sm {
    @media #{$sm}  { @content; }
  }
  @else if $point == xs {
    @media #{$xs}  { @content; }
  }

}
