@import 'mixins';
@import 'colors';

::selection{
  background-color: rgba(255,255,255,1);
  color: $primary-dark;
}

@font-face {
  font-family: 'Bebas';
  src: url('../fonts/bebas.eot');
  src: url('../fonts/bebas.eot?#iefix') format('embedded-opentype'),
       url('../fonts/bebas.woff') format('woff'),
       url('../fonts/bebas.ttf') format('truetype'),
       url('../fonts/bebas.svg#bebasregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Montserrat.woff') format('woff');
  src: url('../fonts/Montserrat.woff2') format('woff2');
  src: url('../fonts/Montserrat.ttf') format('truetype');
}

html{
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

body{
  background: $white;
  margin: 0;
  padding: 0;
}

#pivx-ticker{
  background: $primary-dark;
  border-radius: 0.4rem;
  box-sizing: border-box;
  display: flex;
  margin: 0;
  max-width: 70rem;
  overflow: hidden;
  padding: 0.8rem;
  width: 70rem;
}

.pivxTicker{

  @include el('logoWrapper'){
    align-items: center;
    background: $primary-dark;
    box-sizing: border-box;
    display: inline-flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1.4rem 1.6rem;
    padding: 2rem;
  }

  @include el('logo'){
    height: 20rem;
    width: auto;
    @media screen and (max-width: 480px){
      height: 10rem;
      width: 12rem;
    }
  }

  @include el('tip'){
    color: $white;
    display: block;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-size: 1.125rem;
    margin: 1rem auto;
    text-align: center;
    a{
      color: $white;
      font-family: 'Montserrat', Helvetica, Arial, sans-serif;
      text-decoration: none;
      transition: all 0.3s cubic-bezier(.77,0,.175,1);
      &:hover{
        color: lighten($primary, 20%);
      }
    }
  }

  @include el('statWrapper'){
    background: $primary;
    border-radius: 0.4rem;
    box-sizing: border-box;
    display: inline-flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    margin: 1rem;
    max-width: 40rem;
    min-width: 34rem;
    padding: 1.2rem;
    width: auto;
  }

  @include el('settings'){
    display: flex;
    flex: 1 1 100%;
    justify-content: flex-end;
    @include mod('scale'){
      color: $primary-dark;
      display: flex;
      font-family: 'Montserrat', Helvetica, Arial, sans-serif;
      font-size: 1rem;
      span{
        color: $primary-dark;
        font-family: 'Montserrat', Helvetica, Arial, sans-serif;
        font-size: 1rem;
        text-transform: uppercase;
      }
    }
    @include mod('btn'){

    }
  }

  @include el('price'){
    color: $white;
    display: flex;
    flex: 1 1 100%;
    font-family: 'Bebas';
    font-size: 6.4rem;
    font-weight: bold;
    margin: 0.5rem 2rem 2rem;
    position: relative;
    text-align: center;
    &:after{
      color: $primary-dark;
      content: 'Price';
      font-family: 'Montserrat', Helvetica, Arial, sans-serif;
      font-size: 1.6rem;
      left: 2.4rem;
      letter-spacing: 0.4px;
      position: absolute;
      text-transform: uppercase;
      top: 100%;
    }
  }
  @include el('percent'){
    display: inline-flex;
    flex: 1 1 auto;
    font-family: 'Bebas';
    font-size: 3rem;
    font-weight: bold;
    justify-content: flex-start;
    margin: 2rem 1rem;
    position: relative;
    text-align: left;
    &:after{
      color: $primary-dark;
      content: '24 hour';
      font-family: 'Montserrat', Helvetica, Arial, sans-serif;
      font-size: 1.2rem;
      left: 2rem;
      letter-spacing: 0.4px;
      position: absolute;
      text-transform: uppercase;
      top: 100%;
    }
  }
  @include el('volume'){
    color: $gray;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: 'Bebas';
    font-size: 3rem;
    font-weight: bold;
    justify-content: flex-start;
    margin: 2rem 1rem;
    position: relative;
    text-align: left;
    &:after{
      color: $primary-dark;
      content: 'volume';
      font-family: 'Montserrat', Helvetica, Arial, sans-serif;
      font-size: 1.2rem;
      left: 1.4rem;
      letter-spacing: 0.4px;
      position: absolute;
      text-transform: uppercase;
      top: 100%;
    }
  }
  @include el('marketcap'){
    color: $gray;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: 'Bebas';
    font-size: 3rem;
    font-weight: bold;
    justify-content: flex-start;
    margin: 2rem 1rem;
    position: relative;
    &:after{
      color: $primary-dark;
      content: 'market cap';
      font-family: 'Montserrat', Helvetica, Arial, sans-serif;
      font-size: 1.2rem;
      left: 1.4rem;
      letter-spacing: 0.4px;
      position: absolute;
      text-transform: uppercase;
      top: 100%;
    }
  }
  @include el('rank'){
    color: $gray;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: 'Bebas';
    font-size: 3rem;
    font-weight: bold;
    justify-content: flex-start;
    margin: 2rem 1rem;
    position: relative;
    right: 0;
    &:after{
      color: $primary-dark;
      content: 'rank';
      font-family: 'Montserrat', Helvetica, Arial, sans-serif;
      font-size: 1.2rem;
      left: 0.2rem;
      letter-spacing: 0.4px;
      position: absolute;
      text-transform: uppercase;
      top: 100%;
    }
  }
}

// Misc classes for styling characters

.sm-dollar{
  display: inline;
  font-size: 1.4rem;
  margin: 1rem 0.4rem auto 0;
  max-width: 1.4rem;
  vertical-align: super;
}

.lg-dollar{
  font-size: 3rem;
  margin: 1rem 0.4rem auto 0;
  max-width: 2rem;
  width: 2rem;
}

.green{
  color: $green;
}

.red{
  color: $red;
}

.caret{
  display: inline;
  font-size: 2rem;
  width: 2rem;
}
